@font-face {
    font-family: 'SFPro';
    src: URL('font/SFPro.ttf') format('truetype');
  }
body {
    background: #15161B;
    background-size: 100%;
    font-family: 'SFPro';
    color: #fff;
    padding: 40px;
    max-width: 1400px;
    margin: 10 auto;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-left: 250px;
} 
li {
    display: inline-block;
    align-items: center;
} 
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    margin-left: 32px;
}
li#login {
    display: flex;
    margin-left: 30%;
}
a.signUp {
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 10px;
}
a {
    color: #fff;
    line-height: 30px;
    font-size: 22px;
    margin-right: 30px;
    text-decoration: none;
}
a:hover {
    color: #9BA4ED;
    transition: 0.3s all;
}

/* IMAGE - MAIN */
#logo {
    display: flex;
}
img#logo {
    width: 700px;
    height: auto;
}

/* MAIN - CONTENT */
main {
    display: flex;
    flex-direction: row;
    margin-top: 180px;
}
h1 {
    font-size: 60px;
    font-weight: 600;
}
span {
    color: #9BA4ED;
}
p {
    line-height: 20px;
    max-width: 580px;
    font-weight: 500;
}

/* MAIN - BUTTON */
a#button {
    font-size: medium;
    font-weight: 500;
    border: 4px solid #fff;
    border-radius: 12px;
    padding: 6px;
}
a#button:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

/* AREA CARDS */
#section-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 80px;
}
.containerCard {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 30px 50px;
    padding: 20px 10px;
}
.card img{
    height: 65px;
    width: auto;
    margin-left: 65px;
}
.card {
    background-color: #2C2F37;
    width: 200px;
    height: 180px;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.748);
    border-radius: 12px;
}
.card:hover {
    transform: scale(1.07);
}

/* SECTION 3 */
#section3 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.area-title {
    margin-left: 100px;
    margin-top: 130px;
}
.area-title p {
    margin-top: -50px;
    font-weight: 300;
}

#area-footer {
    background-repeat: no-repeat;
    height: 450px;
    justify-content: center;
    display: flex;
    background: rgba(78, 78, 85, 0.62);
    border-radius: 22px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.footer-title {
    left: 1;
    right: 1;
    z-index: 9999;
    position: fixed;
    margin-left: 120px;
    margin-right: 50px;
    margin-top: 70px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    width: 12px;
    background: #9BA4ED;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #2C2F37;
}

/* RESPONSIVITY */
@media (max-width: 999px) {
    * {
        justify-content: center;
    }
    body {
        overflow-x: hidden;
    }
    header {
        display: flex;
        flex-direction: column;
        margin-left: -13%;
        align-items: stretch;
    }
    li {
        font-size: 10px;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #1a3bdf;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .nav-list.active {
        transform: translateX(0);
    }
    main {
        flex-direction: column;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
    a#button {
        font-size: 14px;
    }
    img#logo {
        margin-left: -27%;
        height: 250px;
        width: auto;
    }
    ul {
        text-align: center;
    }
    ul#login {
        margin-left: -35%;
    }
    #section-cards {
        align-items: stretch;
        flex-direction: column;
        margin-bottom: 100px;
        margin-top: 80px;
    }
    .containerCard {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 100px;
        grid-gap: 30px 50px;
        padding: 20px 10px;
        margin-left: 60px;
    }
    #section3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }
    #section3 img {
        width: 320px;
        height: auto;
        margin-left: 20px;
    }
    .area-title {
        margin-left: 30px;
        margin-top: 50px;
        font-size: 50px;
    }
    .area-title p {
        margin-top: 50px;
        font-weight: 300;
    }
    #area-footer {
        background-repeat: no-repeat;
        height: 400px;
        justify-content: center;
        display: flex;
        background: rgba(78, 78, 85, 0.62);
        border-radius: 22px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .footer-title {
        left: 1;
        right: 1;
        z-index: 9999;
        position: fixed;
        margin-left: 95px;
        margin-right: 50px;
        margin-top: 80px;
    }
}
